
.container{
    width: 100%;
    max-width: 1200px;
    margin: 500 auto;
    padding: 0 15px;
    text-align: center;
};


li{
    list-style-type: none;
};
footer{
    width: 100%;
    display: block;
    text-align: center;
}
